.content {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.content pre {
  overflow-x: auto;
  padding: 1.25em 1.5em;
  white-space: pre;
  word-wrap: normal;
  background-color: var(--code-background-color);
  color: var(--code-color);
  font-size: .875em;
  font-family: monospace;
}

.content code {
  background-color: var(--code-background-color);
  color: var(--code-color);
  font-size: .875em;
  font-weight: normal;
  padding: 0.25em 0.5em;
  font-family: monospace;
}

.content pre code {
  padding: 0;
}

.content a {
  color: var(--primary-link-color);

  &:hover {
    text-decoration: underline;
  }
}

.content blockquote {
  border-left: #e2dede 8px solid;
  margin: 0;
  background-color: #f2f1f0;
  padding: 0 20px;
}

.content pre {
  padding: 1rem;
  overflow: auto;
}
// The line numbers already provide some kind of left/right padding
.content pre[data-linenos] {
  padding: 1rem 0.5rem;
}
.content pre table td {
  padding: 0;
}
// The line number cells
.content pre table td:nth-of-type(1) {
  padding: 0 1rem 0 0;
  text-align: center;
  user-select: none;
}
.content pre mark {
  // If you want your highlights to take the full width.
  display: block;
  // The default background colour of a mark is bright yellow
  background-color: rgba(254, 252, 232, 0.9);
}
.content pre table {
  width: 100%;
  border-collapse: collapse;
}